<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Item Sold</title>

<style>

h2 {
	text-align: center;
	}

</style>

</head>
<body>
<br>
	<div class="container">
		<form name="createForm">
		
		<h2>Add New Item Sold to Item Sold List</h2>
		<br>
		
		<div class="form-row">
			<div class="form-group col-sm-6">
				<label for="itemId">Item Id:</label> 
				<input type="number" id="itemId" class="form-control" ng-model="newItemSold.itemId" required /> 
			</div>
			<div class="form-group col-sm-6">
				<label for="soldDate">Sold Date:</label> 
				<input type="text" id="Sold Date" class="form-control" ng-model="newItemSold.soldDate" required />
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-sm-4">
				<label for="priceSold">Price Sold:</label> 
				<input type="number" id="priceSold" class="form-control" ng-model="newItemSold.priceSold" required /> 
			</div>
			<div class="form-group col-sm-4">
				<label for="agreedCommission">Tera's Commission %:</label> 
				<input type="number" id="agreedCommission" class="form-control" 
				ng-model="newItemSold.agreedCommission" required />
			</div>
			<div class="form-group col-sm-4">
				<label for="commissionPaid">Commission Paid:</label>
				<input type="text" id="commissionPaid" class="form-control" 
				ng-model="newItemSold.commissionPaid" required />
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-sm-6">
				<label for="websiteId">WebSite Id:</label> 
				<input type="number" class="form-control" name="websiteId" ng-model="newItemSold.websiteId" required /> 
			</div>	
			<div class="form-group col-sm-6">
				<label for="clientId">Client Id:</label> 
				<input type="number" class="form-control" name="clientId" ng-model="newItemSold.clientId" required />
			</div>
		</div>

			<br>
			
			<p>
				<span class="text-warning" ng-bind="createStatus"></span>
			</p>

			<h5>Press 'Save' to add new item sold.</h5>
			<h5>Press 'Clear' to discard changes.</h5>

			<div class="footer">
				<button type="button" ng-click="postItemSold()"
					ng-disabled="!createForm.$valid || successfulInsert"
					class="btn btn-success">Save</button>
				<button type="button" ng-click="clearItemSold()"
					class="btn btn-success">Clear</button>
			</div>
		
		</form>

	</div>

</body>
</html>