<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Items Page</title>

<style>

.table {
	border-style: solid;
	border-width: 4px;
	border-color: black;
	}
#search {
	font-size: 18px;
	color: black;
	}
th {
	background-color: lightgray;
	}
#items {
	background-color: white;
	opacity: 0.75;
	}
table.table-hover tr:hover td {
	background-color: silver;
	}
#refreshRow {
	background-color: lightgray;
	}


</style>
</head>
<body>

	<div class="container" ng-init="getItems()">
		<div ng-show="showSearch">
		
			<table class="table table-hover table-bordered">
			<h1 class="text-center col-sm-12">Chaos Item List</h1>
				<caption colspan="7" class="text-right"><span id="search">Search</span>
						<input type="text" maxlength="20" ng-model="searchValue">
				</caption>
				</tr>
				<tr>
					<th class="text-center col-sm-1">Item Id</th>
					<th class="text-center col-sm-2">Item Name</th>
					<th class="text-center col-sm-1">Client Id</th>
					<th class="text-center col-sm-4">Item Description</th>
					<th class="text-center col-sm-2">Item Size</th>
					<th class="text-center col-sm-1">Initial Price</th>
					<th class="text-center col-sm-1">Minimum Price</th>
				</tr>
				<tr id="items" ng-repeat="item in items | filter : searchValue"
					ng-click="updateItem(item)">
					<td class="text-center col-sm-1">{{item.itemId}}</td>
					<td class="col-sm-2">{{item.itemName}}</td>
					<td class="text-center col-sm-1">{{item.clientId}}</td>
					<td class="col-sm-4">{{item.itemDescription}}</td>
					<td class="col-sm-2">{{item.itemSize}}</td>
					<td class="text-center col-sm-1">{{item.initialPrice}}</td>
					<td class="text-center col-sm-1">{{item.minimumPrice}}</td>
				</tr>
				<tr id="refreshRow">
					<td colspan="3" class="text-left">
						<h4>Select an item to update</h4>
					</td>
					<td colspan="4" class="text-right">
						<button type="button" ng-click="getItems()"
							class="btn btn-success">
							<span class="glyphicon glyphicon-refresh"></span> Refresh List
						</button>
					</td>
				</tr>

			</table>
		</div>

		<br>

		<form name="updateForm">
			<div ng-show="showEditDelete">

				<table class="table table-bordered">
					<tr>
						<td><label for="itemId">Item Id:</label> <span
							id="itemId" ng-bind="itemToUpdate.itemId"></span></td>
					</tr>
					<tr>
						<td><label for="itemDescription">Item Description:</label> <input
							id="itemDescription" type="text"
							ng-model="itemToUpdate.itemDescription" size=50/></td>
					</tr>
					<tr>
						<td>
							<p>
								Status Update: <span class="text-warning" ng-bind="updateStatus"></span>
							</p>
						</td>
					</tr>
				</table>

				<br>

				<h5>Press 'Update' to save item changes.</h5>
				<h5>Press 'Delete' to delete item.</h5>
				<h5>Press 'Cancel' to discard changes &/or return to Item List.</h5>

				<div class="footer">
					<button type="button" ng-click="putItem(itemToUpdate)"
						class="btn btn-success">
						<span class="glyphicon glyphicon-edit"></span>Update
					</button>
					<button type="button" ng-click="deleteItem(itemToUpdate.itemId)"
						ng-disabled="isDeleteButtonDisabled" class="btn btn-danger">
						<span class="glyphicon glyphicon-remove"></span>Delete
					</button>
					<button type="button" ng-click="returnToItems()"
						class="btn btn-warning">
						<span class="glyphicon"></span>Cancel
					</button>
				</div>

			</div>
		</form>
		<div ng-show="showSearch">
			<h5>Press 'Add Item' to add a new item.</h5>

			<div class="footer">
				<a href="#!additem" ng-click="postItem(itemToAdd)"
					class="btn btn-success" role="button">Add Item</a>
			</div>
		</div>
	</div>
</body>
</html>