<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Items Sold</title>
</head>
<style>

.table {
	border-style: solid;
	border-width: 4px;
	border-color: black;
	}
#search {
	font-size: 18px;
	color: black;
	}
th {
	background-color: lightgray;
	}
#itemssold {
	background-color: white;
	opacity: 0.75;
	}
table.table-hover tr:hover td {
	background-color: silver;
	}
#refreshRow {
	background-color: lightgray;
	}


</style>
</head>
<body>

	<div class="container" ng-init="getItemsSold()">
		<div ng-show="showSearch">
		
			<table class="table table-hover table-bordered">
			<h1 class="text-center col-sm-12">Chaos Items Sold List</h1>
				<caption colspan="10" class="text-right"><span id="search">Search</span>
						<input type="text" maxlength="20" ng-model="searchValue">
				</caption>
				</tr>
				<tr>
					<th class="text-center col-sm-1">Item Sold Id</th>
					<th class="text-center col-sm-2">Item Name</th>
					<th class="text-center col-sm-1">Sold Date</th>
					<th class="text-center col-sm-1">Price Sold</th>
					<th class="text-center col-sm-1">Tera's Commission %</th>
					<th class="text-center col-sm-1">Commission Amount</th>
					<th class="text-center col-sm-1">Commission Paid</th>
					<th class="text-center col-sm-2">WebSite Name</th>
					<th class="text-center col-sm-1">Client First Name</th>
					<th class="text-center col-sm-1">Client Last Name</th>
					
				</tr>
				<tr id="itemssold" ng-repeat="itemSold in itemsSold | filter : searchValue"
					ng-click="updateItemSold(itemSold)">
					<td class="text-center col-sm-1">{{itemSold.itemSoldId}}</td>
					<td class="text-center col-sm-2">{{itemSold.itemName}}</td>
					<td class="text-center col-sm-1">{{itemSold.soldDate}}</td>
					<td class="text-center col-sm-1">{{itemSold.priceSold}}</td>
					<td class="text-center col-sm-1">{{itemSold.agreedCommission}}</td>
					<td class="text-center col-sm-1">{{itemSold.commissionAmount}}</td>
					<td class="text-center col-sm-1">{{itemSold.commissionPaid}}</td>
					<td class="text-center col-sm-2">{{itemSold.websiteName}}</td>
					<td class="text-center col-sm-1">{{itemSold.firstName}}</td>
					<td class="text-center col-sm-1">{{itemSold.lastName}}</td>
				</tr>
				<tr id="refreshRow">
					<td colspan="5" class="text-left">
						<h4>Select an item to update</h4>
					</td>
					<td colspan="5" class="text-right">
						<button type="button" ng-click="getItemsSold()"
							class="btn btn-success">
							<span class="glyphicon glyphicon-refresh"></span> Refresh List
						</button>
					</td>
				</tr>

			</table>
		</div>

		<br>

		<form name="updateForm">
			<div ng-show="showEditDelete">

				<table class="table table-bordered">
					<tr>
						<td><label for="itemSoldId">Item Sold Id:</label> <span
							id="itemId" ng-bind="itemSoldToUpdate.itemSoldId"></span></td>
					</tr>
					<tr>
						<td><label for="commissionPaid">Has Commission Been Paid? (Enter: true or false )</label> <input
							id="commissionPaid" type="text"
							ng-model="itemSoldToUpdate.commissionPaid" size=20/></td>
					</tr>
					<tr>
						<td>
							<p>
								Status Update: <span class="text-warning" ng-bind="updateStatus"></span>
							</p>
						</td>
					</tr>
				</table>

				<br>

				<h5>Press 'Update' to save item changes.</h5>
				<h5>Press 'Cancel' to discard changes &/or return to Item List.</h5>

				<div class="footer">
					<button type="button" ng-click="putItemSold(itemSoldToUpdate)"
						class="btn btn-success">
						<span class="glyphicon glyphicon-edit"></span>Update
					</button>
					<button type="button" ng-click="returnToItemsSold()"
						class="btn btn-warning">
						<span class="glyphicon"></span>Cancel
					</button>
				</div>

			</div>
		</form> 
		  <div ng-show="showSearch">
			<h5>Press 'Item Sold' to add item sold information.</h5>

			<div class="footer">
				<a href="#!additemsold" ng-click="postItemSold(itemSoldToAdd)"
						 class="btn btn-info" role="button">
						<span class="glyphicon glyphicon-tag"></span>Item Sold
					</a>
			</div>
		</div> 
	</div>
</body>
</html>